/* Dietrich Ney, 9/2/21, Minesweeper game */
.checked{
    background-color: green;
}
.center {
    margin-left: 40%;
    margin-top: 10%;
    text-align: center;
}
.center-text {
    text-align: center;
}
.boom {
    background-color: black;
}
.grid{
    height: 500px;
    width: 465px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    align-items: center;
    text-align: center;
}

.grid div{
    height: 40px;
    width: 40px;
    border-style: groove;
    padding-bottom: 0%;
}
.grid div:hover{
    background-color: ivory;
}